

<h1 class="title"> Route: <%= @route.name %> </h1>
<div class="instructions">
    <p>
        Use the 'Start' and 'Stop' buttons to control when 
        to record your locations.
    <p>
</div>

<%= form_for [@user, @route, @route.points.build] do |f| %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
<% end %>
<button onclick="startTracking()" style="margin-left: 20%">Start</button>
<button onclick="stopTracking()">Stop </button>
<p></p>
<%= link_to 'Back', users_path , class: "btn-record"  %>

<p id="result" class="instructions"></p>   


<script>
    var x = document.getElementById("result");
    var tracker;

    function startTracking() {
        tracker = setInterval(getLocation, 5000);
    }

    function stopTracking() {
        clearInterval(tracker);
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {  
        document.getElementById("point_lat").value = position.coords.latitude;
        document.getElementById("point_lon").value = position.coords.longitude;
        document.getElementById("new_point").submit();
        x.innerHTML = "Last location: (" + position.coords.latitude + ", " + position.coords.longitude + ")";
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "The request for Geolocation was denied."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
