<h1 class="title">Saved locations</h1>

<div id="mapid"></div>

<script>
    var map = L.map('mapid').setView([<%= @lat %>, <%= @lon %>], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    <% @points.each_with_index do |p, index| %>
        L.marker([<%= p.lat%>, <%= p.lon %>]).addTo(map).bindPopup('Location <%= index + 1 %>');
    <% end %>
</script>

<%= render "points/new" %>

